<!--
  Generated template for the Setup page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Phase Ten Setup</ion-title>
	<ion-buttons end>
		<button ion-button (click)="onBegin()" *ngIf="players.length > 1">
			Play!
		</button>
	</ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-label>Setup</ion-label>
	<ion-item>
		<ion-label>Phases</ion-label>
		<ion-input stacked [(ngModel)]="phases" ></ion-input>
	</ion-item>
	<p *ngIf="players.length < 5">
		<ion-label>Players</ion-label>
		<ion-item>
			<ion-label >
				Name: 
			</ion-label>
			<ion-input stacked [(ngModel)]="new.name" ></ion-input>
		</ion-item>
		<button ion-button (click)="addPlayer()" >
			Add Player
		</button>
	</p>


	<ion-item *ngFor="let player of players">
		Name : {{ player.name }}
	</ion-item>

</ion-content>
